<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default navbar-fixed-top ">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/index.html">
              <img id="bootstrap-override" src="{{ site.baseurl }}/imgs/stacked-logo-2016-12-17.png" alt="Logo">
            </a>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                    {% if page.active == "home" %}
                <li><a href="{{ site.baseurl }}/" class="active">Home</a></li>
                    {% else %}
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                    {% endif %}
                    {% if page.active == "projects" %}
                <li><a href="{{ site.baseurl }}/projects" class="active">Projects</a></li>
                    {% else %}
                <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
                    {% endif %}
                    {% if page.active == "blog" %}
                <li><a href="{{ site.baseurl }}/blog" class="active">Blog</a></li>
                    {% else %}
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                    {% endif %}
                <!-- <li><a href="{{ site.baseurl }}/pricing">Pricing</a></li> -->
                    {% if page.active == "contact" %}
                <li><a href="{{ site.baseurl }}/contact" class="active">Contact</a></li>
                    {% else %}
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                    {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
